:root {
  font-family: "Manrope", "Segoe UI", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #111827;
  background-color: #f7f9f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f9f8;
}

a {
  color: inherit;
  text-decoration: none;
}
